#navbar {
    display: flex;
    background: rgb(2,0,36);
    background: linear-gradient(42deg, rgba(2,0,36,1) 0%, rgba(36,121,9,1) 53%, rgba(49,255,0,1) 100%);
    border-radius: 5px;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width:96%;
    height:100%;
    z-index: 11111;
}
#navbarContainer{
    display: flex;
    width:100%;
    height:17%;
    justify-content: center;
    align-items: center;
    margin:10px;;
    position: fixed;
}
#navbar > a {
    padding-left: 5px;
    padding-right: 5px;
    font-size: 20px;
    text-decoration: none;
}
#images > img {
    width: 100px;
    height: 200px;
    border-color: initial;
    border-radius: 0;
}
#images > img:hover{
    border-radius: 20px;
    border-color: beige;
}
#images {
    display: flex;
    flex-direction: row;
    position: fixed;
    top:100px;
}
#navbar a:hover {
    cursor: pointer;
}

#bigtext{
    font-size: 25px !important;
    font-weight: bold !important;
    padding-left: 10px !important;
    padding-right: 10px !important;
    color:#1dc460 !important;
}
#footer{
    background-color:grey;
    display:flex;
    position:fixed;
    justify-content: center;
    align-items: center;
    width:100%;
    height: 10%;
    bottom:0%;
}
body{
    margin:0;
    /* ask cactus for a nice background color (or if he just wants white) */
    /* this ones jut some temporary shit i whipped up on a css gradient maker */
    background: rgb(34,246,231);
    background: linear-gradient(42deg, rgba(34,246,231,1) 0%, rgba(10,218,57,1) 46%, rgba(16,125,37,1) 100%);
    height:fit-content;
    min-height: 100vh;
}
p {
    color: white;
    font-family: "Raleway", "Arial", sans-serif;
}
li h3 h2 h1{
    font-family: "Raleway", "Arial", sans-serif;
}
#footerText {
    color:black;
    font-size: 10px;
}
a {
    color: white;
    font-family: "Raleway", "Arial", sans-serif;
}
#copyIp{
    display: flex;
    flex-direction: row;
    height:15px;
    margin-left:60px;
}

#copyIcon{
    font-size:7px;
    z-index: 2;
}
#copyButton{
    background-color: #fc9e2a;
    border-radius:3px;
    display:flex;
    justify-content: center;
    align-items: center;
    height:15px;
}
#ip{
    height:15px;
    width: 100px;
}
input{
    font-family: "Raleway", "Arial", sans-serif;
}
#discord{
    color: #5865F2
}
#aboutText{
    border-radius: 20px;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    height: fit-content;
    width:90%;
    padding: 20px;
    flex-direction: column;
}
#aboutP{
    color:black;
    display: flex;
    flex-direction: column;
}
#centerThing{
    width: 100%;
    padding-top: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70%;
    margin-top: 2%;
    margin-bottom: 2%;
}
#diddy{
    color: #5865F2 !important;
}